body {
  overflow-x: hidden;
}

.card {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}

#page_header{
  height: 7%;
  background-color: #CD1F32;
}

#page_header * {
  height: 100%;
}

#page_footer {
  background-color: #CD1F32;
  color: white;
  z-index: 2;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 3.1%;

}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {

  position: fixed;
  left: 200px;
  width: 0;
  height: 100%;
  margin-left: -200px;
  overflow-y: auto;
  background: #EEEEEE;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 200px;
  z-index: -1;
}

#div-menu-toogle {
  height: 100%;
  padding-left: 15px;
}

#menu-toggle {
  margin: 5px 0px 5px 10px;
  height: 80%;
  width: 60px;
  font-size: large;
  position: relative;
  border: 0px;
  border-radius: 0;
  background-color: rgb(238, 238, 238);
  color: #CD1F32;
  padding-top: 15px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
}

#wrapper.toggled #page-content-wrapper {
  margin-right: -200px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #2c4558;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #2c4558;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #2c4558;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #2c4558;
  background: none;
  z-index: -1;
}

/* Cards */
#card-total-courses {
  background-color: #7460EE;
  color: white;
}

#card-courses-by-semester {
  background-color: #1E88E5;
  color: white;
}

#card-total-users {
  background-color: #26C6DA;
  color: white;
}

#card-users-by-semester {
  background-color: #2F3D4A;
  color: white;
}

.card-title {
  text-align: center;
}


/* Counter */
.counter{
  text-align: center;
  font-size: 30px;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 200px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 200px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}